.locationcard {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background: rgb(29, 29, 30);
  margin: 1rem 1rem 1rem 1rem;
  color: rgb(206, 206, 206);
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--colortheme);
}

.locationcard:hover {
  color: white;
  border-radius: 10px;
  border: 2px solid var(--colortheme);

  /* border: 2px solid rgb(0, 0, 0); */
}
.locationcard img {
  border-radius: 5px;
}
.location_card_info {
  display: flex;
  flex-direction: column;
}
.locationcard_menu {
  text-transform: capitalize;
  background-color: rgb(39, 39, 39);
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
}
.locationcard_menu i {
  margin-right: 1rem;
  font-size: 2rem;
}
.locationcard_menu_location {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1100px) {
  .locationcard {
  }
}
@media screen and (max-width: 650px) {
  .locationcard {
    /* flex-direction: column; */
    padding: 0.5rem;
    border-bottom-width: 1px;
    margin: 0.5rem 1rem;
  }
  .location_card_info p {
    font-size: small;
  }
  .location_card_info h3 {
    font-size: smaller;
  }
  .locationcard_menu {
    margin: 1rem 1rem;
    padding: 0.5rem 0.5rem;
    font-size: small;
  }
  .locationcard_menu i {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .locationcard_menu_location {
    margin-bottom: 0.5rem;
  }
}
